*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial,  sans-serif;
}

.main{
    overflow-x:hidden;
    display: flex;
    
    height:100%;
}

.leftside{
    width:15vw;
    height:100vh;
    padding:1%;
    position:fixed;
    left:0;
    left:0;
   background-color: beige;
   z-index:100;
  
}

.sidenav{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  
    height:100%;
}

.dashboard{
    display:flex;
   
}

.dashboard > h1{
    font-size: 20px;
}

.metamask{
    width: 20px;
    height: 40%;
}

.center, .bottom{
    font-size: 16px;
}

.center > div, .bottom > div{
    padding:13px;
}

.rightside{
    width:100vw;
    padding-left: 15vw;
    position:relative;
    margin-right:0;
}

.header{
    display:flex;
    flex-direction:column;
    height:26vh;
    background-color: aliceblue;
}

.firstline{
    display:flex;
    justify-content: space-between;
    padding:2%;
}

.searchbar{
    font-size: 11px;
    margin-top:6px;
}

.searchbar >input{
    width:40vw;
    height:4vh;
    margin-left: 1vw;
    outline:none;
    border-radius: 50px;
    border-color:aliceblue;
    padding:10px;
    font-size: 15px;
}

.notis{
    display:flex;
    justify-content:space-between;
    width:15vw;
    font-size: 19px;
   

}

.bell{
    font-size:20px;
    border-top: 3px dotted;
    border-radius: 50px;
}

.user-icon{
    margin-top: -1vh;
    height:35px;
   
}

.firstname{
    font-size:18px;
    font-weight: bolder;
    transition: text-decoration 0.5s ease;
}

.firstname:hover{
    text-decoration: underline 2px;   
}


.secondline{
    margin-top:3vh;
    display:flex;
    justify-content: space-between;
}

.second-left{
    display:flex;
    width:40vw;

}

.greeting{
    margin-left:15px;
}

.hi{
    margin-bottom: 2px;
    font-size:13px;
}

.secondname{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 5px;
}

.second-right{
    display:flex;
    justify-content: space-between;
    width:37vw;
    margin-right: 3vw;
    font-size:18px;
    align-items: center;
}

.new, .upload, .share{
    width:10vw;
    height:6vh;
    border-radius: 50px;
    font-size:18px;
}

.dash-content{
    background-color:azure;
    display:flex;

}

.collection{
    margin-left:2vw;
   
}

.image-collection{
    font-size: 1.5rem;
}

.assets{
    display:grid;
    align-content:center;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    grid-template-rows: auto 1fr 1fr;
    grid-gap: 15px;
    margin-right: 11px;
    grid-auto-rows: 1fr;
    width:60vw;
}


.asset-div{
    color:#000;
    padding: 5%;
    border-left: 6px solid #000;
    width: max(250px, 26vw);
    margin-bottom: 2vw;
    border-radius: 15px;
    background-color: antiquewhite;
}

.asset-img{
    width: min(max(150px, 250px));
    height: 200px;
    padding-right:3vw;
}

.asset-content{
    font-size: 18px;
    font-weight: bold;
}

.dash-content-right{
    display:flex;
    flex-direction:column;
    margin-left:-3vw;
    width:max(100px, 30vw);
}


.upcoming, .trending{
    background-color: aqua;
    height:64vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 3vh;
    margin-bottom: 8vh;
    grid-gap: 10px;
    padding:8px;
}

.upcoming > div {
    border: 2px solid #444;
    width: 22vw;
}

.trending > p{
    border: 2px solid #444;
    width: 22vw;
}

.upcoming{

}

.trending{
    margin-bottom: 5vh;
}

.upcoming-header, .trend-heading{
    font-size: 1.2rem;
    background-color: transparent;
}






@media (max-width: 768px) {
    .assets {
      grid-template-columns: 1fr;
    }
  }